header {
    /*cabeçalho*/
    background-color: rgb(31, 37, 121);
    /*cor de fundo*/
    color: rgb(250, 247, 247);
    /*cor da fonte*/
    text-align: center;
    /*alinhamento do texto*/
    max-width: 810px;
    margin: 0 auto;
    /*margens*/
    padding: 15px;
    /*espaçamento interno*/
    border: 0px solid rgb(90, 210, 231);
    /*borda*/
}

main {
    /*texto pricipal*/
    background-color: rgb(208, 245, 245);
    /*cor de fundo*/
    color: black;
    /*cor da fonte*/
    text-align: center;
    /*alinhamento de texto*/
    max-width: 800px;
    /*largura maxima*/
    margin: 0 auto;
    /*margens*/
    padding: 16px;/*espaçamento interno*/
    display: flex;/*habilita o uso da fles box*/
    flex-direction: column;/*orienta os elemetos em forma de coluna na ordem 1, 2, 3*/
    border: 0px solid rgb(90, 210, 231);/*borda*/
}


footer {
    /*rodapé*/

    background-color: rgba(0, 132, 255, 0.596);
    /*cor de fundo*/
    color: black;
    /*cor da fonte*/
    max-width: 800px; 
    /*largura maxima*/
margin: 0 auto;
    /*margens*/
    padding: 16px;/*espaçamento interno*/
    display: flex;/*habilita o uso da fles box*/


}

img{
    width: 80px;/*largura da imagem*/
    height: 80px;/*altura da imagem*/
}
.artigo-autor {
    font-weight: bold;
    /*destaque na fonte*/
}









